<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    tools:context=".MainActivity">
    <item
        android:id="@+id/item_menu1"
        android:orderInCategory="100"
        android:title="重新初始化环境"
        />

    <item
        android:id="@+id/item_menu2"
        android:orderInCategory="100"
        android:title="进入Git主的主页"
        />

    <item
        android:id="@+id/item_menu3"
        android:orderInCategory="100"
        android:title="紧急呼叫110"
        />

    <item
        android:id="@+id/item_menu4"
        android:orderInCategory="100"
        android:title="关于本软件"
        />

    <item
        android:id="@+id/item_menu5"
        android:orderInCategory="100"
        android:title="退出装逼卫士"
        />
</menu>
